[submodule "themes/terminal"]
	path = themes/terminal
	url = https://github.com/panr/hugo-theme-terminal.git
[submodule "themes/hugo-now-ui"]
	path = themes/hugo-now-ui
	url = https://github.com/cboettig/hugo-now-ui
[submodule "themes/toha"]
	path = themes/toha
	url = https://github.com/hugo-toha/toha.git
[submodule "static/Haras_CSS"]
	path = static/Haras_CSS
	url = https://github.com/HaraKaza/Haras_CSS
